<% content_for :page_class, 'bg-light' %>
<p id="notice"><%= notice %></p>

<h1>Collections</h1>

<div class="bookmarks-wrapper">
  <ul class="bookmarks-list list-inline row flex-items-xs-center">
    <% @collections.each do |collection| %>
      <li class="col-sm-3">
        <div class="card" data-url="<%= collection.id %>">
          <div class="card-block">
            <h4 class="card-title"><%= collection.name %></h4>
            <p class="card-text"><%= collection.tags %></p>
            <p class="card-text"><%= collection.categories %></p>
            <%= link_to 'Show', collection, class: 'btn btn-primary' %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>


<br>
<% if user_signed_in? %>
  <%= link_to 'New Collection', new_collection_path %>
<% end %>
