<% content_for :page_class, 'bg-light' %>
<p id="notice"><%= notice %></p>

<div class="p-x-2 p-y-2 text-xs-right">
  <%= link_to 'Add Bookmark', new_bookmark_path(@collection), class: "btn btn-primary", remote: true %>
  <%= link_to 'Add Collection', new_collection_path(@collection), class: "btn btn-primary", remote: true %>
</div>

<div class="p-x-2 p-y-2" id="collections-list">
  <%= render 'collections/partials/collections_list' if @collections.present? %>
</div>

<div class="p-x-2 p-y-2" id="bookmarks-list">
  <%= render 'collections/partials/bookmarks_list' if @bookmarks.present? %>
</div>
