<% content_for :page_class, 'bg-light' %>
<p id="notice"><%= notice %></p>

<%= link_to 'Add Bookmark', new_bookmark_path(@default) %>
<%= link_to 'Add Collection', new_collection_path(@default) %>

<h1>Collections</h1>

<div class="bookmarks-wrapper">
  <ul class="bookmarks-list list-inline row">
    <% @collections.each do |collection| %>
      <li class="col-sm-3">
        <div class="card" data-url="<%= collection.id %>">
          <div class="card-block">
            <h4 class="card-title"><%= collection.name %></h4>
            <p class="card-text"><%= collection.tags %></p>
            <p class="card-text"><%= collection.categories %></p>
            <%= link_to 'Show', collection, class: 'btn btn-primary' %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<h2>Bookmarks</h2>
<div class="bookmarks-wrapper">
  <ul class="bookmarks-list list-inline row">
    <% @bookmarks.each do |bookmark| %>
      <li class="col-sm-3">
        <div class="card" data-url="<%= bookmark.id %>">
          <div class="card-block">
            <h4 class="card-title"><%= bookmark.title %></h4>
            <p class="card-text"><%= bookmark.url %></p>
            <p class="card-text"><%= bookmark.tags %></p>
            <%= link_to 'Open', uri_parse(bookmark.url), class: 'btn btn-primary' %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<br>
<% if user_signed_in? %>
  <%#= link_to 'New Collection', new_collection_path %>
<% end %>
