<% content_for :page_class, 'bg-grey' %>
<div class="collection-header bg-white text-dark">
  <div class="collection-info">
    <div class="p-x-2 p-y-2 text-xs-center" id="collection-info">
      <%= render 'collections/partials/collection_information' %>
    </div>
    <div id="collections-shares">
      <%= render 'collections/partials/collection_shares' if @sharings.present? %>
    </div>
    <div class="p-x-2 p-y-2 text-xs-center">
      <%= link_to 'Edit', edit_collection_path(@collection), class: 'btn btn-primary', remote: true %>
      <% if @collection.parent.is_root? %>
        <%= link_to 'Back', root_path, class: 'btn btn-primary' %>
      <% else %>
        <%= link_to 'Back', collection_path(@collection.parent), class: 'btn btn-primary' %>
      <% end %>
      <%= link_to 'Add Bookmark', new_bookmark_path(@collection), class: 'btn btn-primary', remote: true %>
      <%= link_to 'Add Collection', new_collection_path, class: 'btn btn-primary', remote: true %>
      <%= link_to 'Share Collection', share_collection_path, class: 'btn btn-secondary', remote: true if @collection.parent.is_root? %>
    </div>
  </div>
</div>

<div class="container">
  <div class="p-x-2 p-y-2" id="collections-list">
    <%= render 'collections/partials/collections_list' if @collections.present? %>
  </div>

  <div class="p-x-2 p-y-2" id="bookmarks-list">
    <%= render 'collections/partials/bookmarks_list' if @bookmarks.present? %>
  </div>
</div>
