<h2><%= @collection.name %></h2>
<p><%= @collection.description %></p>
<%= @collection.tags %><br><%= @collection.categories %>
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_collection_path(@collection) %> |
<%= link_to 'Back', collections_path %>

<%= link_to 'Add Bookmark', new_bookmark_path(@collection) %>
<%= link_to 'Add Collection', new_collection_path(@collection) %>


<div class="">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>ITEM</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
        <tr>
          <td>
            <%= item.title %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
