<div class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Add new Collection</h4>
      </div>
			<%= form_for @collection, url: update_collection_path(collection_id: @collection.id), remote: true do |f| %>
        <div class="modal-body p-x-2 p-y-2">

          <fieldset class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control', autofocus: true %>
          </fieldset>

          <fieldset class="form-group">
            <%= f.label :description %>
            <%= f.text_field :description, class: 'form-control' %>
          </fieldset>

          <fieldset class="form-group">
            <%= f.label :tag_list %>
            <%= f.text_field :tag_list, value: @collection.tag_list.to_s, class: 'form-control' %>
          </fieldset>

          <fieldset class="form-group">
            <%= f.label :categories %>
            <%= f.text_field :categories, class: 'form-control' %>
          </fieldset>

        </div>
        <div class="modal-footer">
          <%= f.submit class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
